.card{
    height: 90%;
    padding: 5px;
    margin: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0,
    0, 0.2);
}
.image-container{
    height: 200px;
    padding: 8px;
}
.card-image{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.card-title{
    color: #ff6b6b;
}
.name{
    color: #ff6b6b;
    font-size: 18px;
}
.card-text{
    
    color: #4d4d4d;
    text-decoration: none;
}