body {
    position: relative;
}

.main-heading {
    color: #484854;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
}

.sub-heading {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #484854;
    margin: 0 auto;
    font-weight: 500;
    width: 80%;
    margin-top: 20px;
}

.add-icon {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 30px;
    color: #484854;
    cursor: pointer;
}

.add-icon img {
    height: 60px;
    width: 60px;
}