.form-container{
    width: 600px;
    margin-top: 80px;
    background-color: rgba(235, 221, 221, 0.803);
}
body{
    background-image: url("https://img.freepik.com/free-photo/top-view-green-leafs-with-copy-space_23-2148535941.jpg?t=st=1721413971~exp=1721417571~hmac=3c25cd820fa0f39cc2523c057e8007e36fa83ae3a8dfd8f60636f9f04a7d3b56&w=1380") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.form-title{
    color: #4d4d4d;
    text-align: center;
    font-family: fantasy;
    text-transform: uppercase;
}
.form-label {
    color: #ff6b6b;
    font-weight: bold;

}

.btn{
    background-color: #ff6b6b;
    color: white;
   margin-bottom: 10px;
}
.preview-img {
    width: 150px;
    height: 150px;
    margin-left: 20px;
    overflow: hidden;
    border: 2px solid #ff6b6b;

}
.preview-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn:hover{
    background-color: #ff8383;
    color: white;
}